<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <button onclick="window.location.href='/reports/new'" id="new-report" class="btn btn-primary float-right">New
          Report</button>
        <h2>Traffic</h2>

        <div class="container">
          <div class="row">
            <div class="col-8 offset-2">
              <form class="clearfix mb-4" action="POST">
                <div class="form-group">
                  <label for="example-text">User Name</label>
                  <input type="text" id="user-name" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
                </div>
                <button id="user-submit" class="btn btn-primary float-right">Submit</button>
              </form>
            </div>
          </div>
        </div>

        <div id="user-table container">
          <table id="user-table" style="width:100%">
            <tr>
              <th>User Name</th>
            </tr>
          </table>
        </div>

        <h3>Reports:</h3>
        <ul id="example-list" class="list-group">
          {{#each reports}}
          <li>Type: {{this.type}}</li>
          <li>Description: {{this.description}}</li>
          <li>Location: {{this.location}}</li>
          <li>City: {{this.city}}</li>
          <li>State: {{this.state}}</li>
          <hr>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/new-user.js"></script>