<table class="table table-hover table-sm table-light">
    <thead class="thead-dark">
        <tr class="table-striped table-bordered">
            <th scope="col">Type</th>
            <th scope="col">Description</th>
            <th scope="col">Location</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
        </tr>
    </thead>
    <tbody>
        {{#each reports}}
        <tr class="table-striped table-bordered table-hover">
            <td>{{this.type}}</td>
            <td>{{this.description}}</td>
            <td>{{this.location}}</td>
            <td>{{this.city}}</td>
            <td>{{this.state}}</td>
            <td><button data-value={{this.id}} class="btn delete-btn"><i class="fa fa-trash"></i></button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/delete-own-report.js"></script>